@using GMS.ViewModels
@model List<OrderPurchaseViewModel>

<h4 style=" text-align: center;">Purchases</h4>
<div class="justify-content-center">
	<a class="btn btn-outline-primary mb-1" asp-action="add">Create Purchase Invoice</a>
	<form method="get" asp-action="Index">
		<div class="row">
			<div class="input-group mb-3">
				<input type="search" name="categoryName" class="form-control input-text" placeholder="Search Invoice....">
				<div class="input-group-append">
					<button type="submit" class="btn btn-outline-warning"><i class="fa fa-search"></i></button>
				</div>
			</div>
		</div>
	</form>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th>
				Date
			</th>
			<th>
				UserName
			</th>
			<th>
				Supplier
			</th>
			<th>
				Total Amount
			</th>
			<th>
				Discount
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (OrderPurchaseViewModel order in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => order.Date)
				</td>
				<td>
					@Html.DisplayFor(modelItem => order.UserName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => order.Supplier)
				</td>
				<td>
					@Html.DisplayFor(modelItem => order.TotalAmount)
				</td>
				<td>
					@Html.DisplayFor(modelItem => order.Discount)
				</td>

				<td>
					<div style="float:right">
						<a asp-action="details" asp-route-orderId="@order.OrderId"><i class="fa fa-info" style="margin-right:10px; color:mediumaquamarine" title="Details"></i></a>
						<a asp-action="delete" asp-route-id="@order.OrderId"><i class="fa fa-trash" style="color:red" title="Delete"></i></a>
					</div>
				</td>
			</tr>
		}
	</tbody>
</table>